﻿html {
    direction:rtl;
}


body{
    background-color: #262ec1;
}
.btn-outline-warning {
  color: #f64c71;
  background-color: transparent;
  background-image: none;
  border-color: #f64c71;
}
.checked{
    color:orange;
}
.coins{
      height:3rem;
    width:3rem;
   
}
.active{
      filter: brightness(35%);

}
.offset-05{
    margin-right:3.3%;
}


.btn-warning:hover {
    background-color: #f76784;
    border-color: #f64c71;
}
.btn-outline-warning:hover {
  color: #212529;
  background-color:;
  border-color: #f64c71;
}

.jumbotron{
    background-color:white;
}

.icon{
    height:5rem;
    width:5rem;
   
}


.icon:hover{
    opacity:0.9;
}
@font-face{
    font-family:"Santica";
    src:url("../fonts/SecularOne-Regular.ttf");
}
@font-face{
    font-family:"Noot";
    src:url("../fonts/Noot.otf");
}

h1{
    font-family:Santica;
    color: white;
    font-size : 3.6rem;
}