﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DeleteMsg.aspx.cs" Inherits="DeleteMsg" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
        <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body>
   
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
