﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Menu.master" AutoEventWireup="true" CodeFile="profile.aspx.cs" Inherits="profile" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
    <style>
        .main-container {
            text-align: center;
            background-color: white;
           
        }
        
    </style>
    <div class="container main-container rounded mt-3 p-1" style="">
      <div class="row align-items-start">
          <div class="col-2">
              <a><img class="img-fluid" src="img/icons/user.png" style="height:6.5rem;width:6.5rem;" /></a>
          </div>
          <div class="col-4 text-left">
                      <h1 style="color:black;margin-bottom:0">שי ליבני</h1>
                       <a href="#" style="color:#d75a4a;font-size:1.3rem"><img src="img/icons/like.png"   style="height:1.9rem;width:1.9rem;"/> אהבתי</a>
                                    


          </div>
          <div class="col-3">

          </div>
          <div class="col-3 pt-1">
              <div class="row ">
                  <div class="col-6">
                      <a href="#" class="text-muted">שלח הודעה<img class="m-1" src="img/icons/mail.png"style= "height:1rem;width:1rem;"  /></a>
                  </div>
                   <div class="col-6">
                      <a href="#" style="color:red;">דווח<img class="m-1" src="img/icons/report.png"style= "height:1rem;width:1rem;"  /></a>
                  </div>
                 
                      <h5 class="text-muted pr-5" style="margin-top:2.6rem;margin-right:2rem;">93% אהבו את המוכר/ת</h5>

                  </div>
          </div>
          <div class="container-fluid">
              
          </div>
              

      </div>
        
     </div>
   
</asp:Content>

