.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month {
    right:0 ;
    left: auto;
}
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    right: auto;
    left: 0;
}
.flatpickr-months .flatpickr-next-month svg ,.flatpickr-months .flatpickr-prev-month svg {
    transform: rotate(180deg);
}
.flatpickr-calendar {
    direction: rtl;
}

.flatpickr-current-month input.cur-year  {
    margin-right: 15px;
}